/* 나만의 레시피 css적용 */



/* 레시피 전체를 감싸는 div 에 width: 600px 와
 margin: 0 auto 를 적용해서 가운데 정렬하세요 */



main {
 width: 600px;
 max-width: 0 auto;
}

/*  레시피 제목 영역에 padding 을 
단축 속성 2값으로 작성하세요 — 
상하 / 좌우를 다르게 설정*/


h1 {padding: 40px;
}


img {
    padding: 10px 20px 30px;
}



/*  padding 단축 속성 4가지 방법을 모두 사용해보세요 (값 1개 / 2개 / 3개 / 4개)
값 1개: padding: 10px — 사방 동일
값 2개: padding: 10px 20px — 상하 / 좌우
값 3개: padding: 10px 20px 30px — 상 / 좌우 / 하
값 4개: padding: 10px 20px 30px 40px — 시계방향 상·우·하·좌*/


table {
    padding: 0px 20px 30px 40px;
}




/* 재료 목록 ul 에 border 를 설정하세요 
— 선 굵기 / 선 색상 / 선 스타일(solid
 또는 dashed) 모두 포함 */
 


ol { border: 2px dashed #021A54 ;
    background-color: #fdfdfd;
padding: 20px; 
}



/*  조리 순서 ol 각 li 에 padding 을 적용해서 항목 간 내부 여백을 만드세요 */


li {padding: 10px 20px;}




.man {
    border: 2px solid #021A54 ;
padding: 20px; 
}



.men {
    border: 10px datted #FF85BB ; 
    padding: 20px;
}


/*  조리 순서 ol 각 li 에 padding 을 적용해서 항목 간 내부 여백을 만드세요 */


/*  h2, h3 등 소제목에 margin-bottom 을 
설정해서 제목과 내용 사이 여백을 만드세요*/


h2 {
    margin-bottom: 30px;
}


/*  조리 순서 ol 각 li 에 padding 을 적용해서 항목 간 내부 여백을 
만드세요 */




h3 {
    margin-bottom: 30px;
}

/* width를 px 이 아닌 % 단위로도 사용해 보세요 (예: width: 80%) 그리고 %와 px의 차이를 브라우저 창 크기를 바꿔가며 확인해 보세요*/




a { 
    background-color: lightpink;
width: 80%;
}